.header {
  background-color: aqua;
  height: 65px;
}

.container {
  display: flex;
}

.nav {
  width: 20%;
  background-color: rgb(196, 196, 238);
  height: calc(100vh - 65px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.articles {
  display: flex;
  flex: 1;
  justify-content: space-around;
}

.content {
  display: flex;
  flex: 1;
  justify-content: space-around;
  background-color: #7e94c1;
  height: calc(100vh - 65px); /* Adjusted from 50px to 65px */
}
